* {
    box-sizing: border-box;
}

body{ 
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    margin: 100px;
    border: 2px solid black;
    padding: 20px;
}

.container {
    display: grid;
    grid-template-columns: repeat (3, 1fr);
    grid-template-rows: repeat (3, 1fr);
    grid-gap: 20px;
}


hr{
    border: 1px solid white;
    margin: 40px 5px;
}

h1{
    color: white;
    letter-spacing: 3px;
}

h2{
    color: white;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: large;
}

h3{
    text-transform: uppercase;
    color: #A3C6C4;
}

#side {
    background-color: #6C7A89;
    font-size: 15px;
    padding: 20px;
    color: white;
    grid-column: 1/2;
    grid-row: 1/4;
}


#photo{
    width: 100%;
    float: center;
    border-radius: 50%;
}


#languages img{
    width: 25%;
    max-width: 50px;
}

#skills table{
    font-size: 15px;
}


#interests i{
    margin: 0px 10px;
    font-size: 30px;
}


#header {
    text-align: center;
    font-size: 25px;  
    background-color:#A3C6C4;
    padding: 30px 10px 100px 10px;
    grid-column: 2/4;
    grid-row: 1/2;
}

#aboutMe{
    background-color:  #E0E7E9;
    padding: 20px;
    grid-column: 2/4;
    grid-row: 2/3;
}    

#history{
    padding: 0px 20px 20px 20px;
    grid-column: 2/4;
    grid-row: 3/4;
}

[class*="col-"] {
    float: left;
}

/* For mobile phones: */
[class*="col-"] {
    width: 100%;
}

@media only screen and (min-width: 768px) {
    .col-4 {width: 33.33%;}
    .col-8 {width: 66.66%;}

    h2{
        font-size: medium;
    }

    #interests{
        font-size: 20px;
    }

    section#a{
        margin: 20px 0px 20px 20px;
    }
    
    section#a p{
        font-size: 9px;
    }
    
    #skills table{
        font-size: 10px;
    }
    
}

@media only screen and (min-width: 850px) {
    section#a p{
        font-size: 11px;
    }
}

@media only screen and (min-width: 992px) {
    /* For desktop: */
    .col-4 {width: 33.33%;}
    .col-8 {width: 66.66%;}

    h2{
        font-size: large;
    }
    #interests{
        font-size: 30px;
    }
      section#a p{
        font-size: 15px;
    }
    #skills table{
        font-size: 15px;
    }
}