* {
    box-sizing: border-box;
}

body{ 
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    margin: 100px;
    border: 2px solid black;
    padding: 20px;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat (9, 1fr);
    grid-gap: 20px;
}

hr{
    border: 1px solid white;
    margin: 40px 5px;
}

h1{
    color: white;
    letter-spacing: 3px;
}

h2{
    color: white;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: large;
}

h3{
    text-transform: uppercase;
    color: #00867d;
}

side {
    background-color: #4db6ac;
    font-size: 15px;
    padding: 20px;
    color: white;
    grid-row: 1/4;
}

side img{
    width: 100%;
    float: center;
    border-radius: 50%;
}


.flag{
    width: 25%;
    max-width: 50px;
    border-radius: 0%;
}

.skills table{
    font-size: 15px;
}

.interests i{
    margin: 0px 10px;
    padding: 10px;
    font-size: 30px;
}

header {
    text-align: center;
    font-size: 25px;  
    background-color: #00867d;
    padding: 30px 10px 100px 10px;
    grid-row: 4/6;
}

.aboutMe{
    background-color:#82e9de;
    padding: 20px;
    grid-row: 6/8;
}  

.history{
    padding: 0px 20px 20px 20px;
    grid-row: 8/10;
}

ul {
    list-style-type: none;
    padding-left: 0;
}


@media only screen and (min-width: 768px) {
    .container {
        display: grid;
        grid-template-columns: repeat (3, 1fr);
        grid-template-rows: repeat (3, 1fr);
        grid-gap: 20px;
    }

    header {
        grid-column: 2/4;
        grid-row: 1/2;
    }

    side {
        grid-column: 1/2;
        grid-row: 1/4;
    }

    .aboutMe{
        grid-column: 2/4;
        grid-row: 2/3;
    }  
    
    .history{
        grid-column: 2/4;
        grid-row: 3/4;
    }

}

@media only screen and (min-width: 992px) {


    .container {
        display: grid;
        grid-template-columns: repeat (3, 1fr);
        grid-template-rows: repeat (3, 1fr);
        grid-gap: 20px;
    }

    header {
        grid-column: 2/4;
        grid-row: 1/2;
    }

    side {
        grid-column: 1/2;
        grid-row: 1/4;
    }

    .aboutMe{
        grid-column: 2/4;
        grid-row: 2/3;
    }  
    
    .history{
        grid-column: 2/4;
        grid-row: 3/4;
    }
}